<!DOCTYPE html>
<html>
  <head>
    <title>Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <!--Navigation bar-->
    <%- include('./nav'); %>

    <!--end of Navigation bar-->
  
    <div  class="container">
        <h1 class="display-4">TAG: <%= tag %></h1>
        <form>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label for="inputType4">Type</label>
                <input type="text" class="form-control" id="inputType4" placeholder="Type" value="<%= type %>">
              </div>
              <div class="form-group col-sm-3">
                <label for="inputAge">Age in Months</label>
                <input type="text" class="form-control" id="inputAge" placeholder="Age in Months" value="<%= months_age %>">
              </div>
              <div class="form-group col-sm-3">
                <label for="inputBirth">Date of Birth</label>
                <input type="date" class="form-control" id="inputBirth" value="<%= date_of_birth %>">
              </div>              
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputNotes">Notes</label>
                <input type="text" class="form-control" id="inputNotes" placeholder="My notes..." value="<%= note %>">
              </div>
         
              <div class="form-group col-md-3">
                <label for="inputColor">Color</label>
                <input type="text" class="form-control" id="inputColor" placeholder="My Color..." value="<%= color %>">
              </div>
              <div class="form-group col-md-3">
                <label for="inputWeight">Weight</label>
                <input type="text" class="form-control" id="inputWeight" placeholder="Weight in kilograms" value="<%= weight %>">
              </div>
            </div>
            <div class="form-row">      
              <div class="form-group col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupStage">Stage</label>
                  </div>
                  <select class="custom-select" id="inputGroupStage">
                    <% const s = "selected" %>
                    <option selected>Choose...</option>                    
                    <option <% if(stage === "Vitelo") { %><%= s %><% } %>>Vitelo</option>
                    <option <% if(stage === "Novilho super precoce") { %><%= s %><% } %>>Novilho super precoce</option>
                    <option <% if(stage === "Novilho precoce") { %><%= s %><% } %>>Novilho precoce</option>
                    <option <% if(stage === "Novilho") { %><%= s %><% } %>>Novilho</option>
                    <option <% if(stage === "Boi") { %><%= s %><% } %>>Boi</option>
                    <option <% if(stage === "Touros") { %><%= s %><% } %>>Touros</option>
                  </select>
                </div>
              </div>          
            </div>
            <!-- Vaccine list start-->
            <h3><small class="text-muted">Vaccines</small></h3>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Manufacturer</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <% if(!vaccines || vaccines.length === 0) { %>
                  <td>No Vaccine Registered</td>
                <% } else {
                   vaccines.forEach(function(vaccine){ %>
                    <tr>
                      <th scope="row"><%= vaccine.name %></th>
                      <td><%= vaccine.manufacturer %></td>
                      <td><%= vaccine.date %></td>
                    </tr>
                    <%})
                  }%>
                
              </tbody>
            </table>
            <!-- Vaccine list end-->
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
    </div> <!-- End of Container-->

    <!-- Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    
    <script src="/javascripts/scripts.js"></script>

    </body>
</html>
